<!-- components/header/header.html -->
<!-- Fragmento del encabezado. Se carga dinámicamente desde main.js -->
<nav class="navbar">
    <div class="navbar-glass">
        <div class="logo">
            <div class="logo-icon">
                <i class="fas fa-fire-flame-curved"></i>
            </div>
            <span>Fast Food <strong>Bites</strong></span>
        </div>
        <div class="nav-links">
            <a href="#products-grid">Menú</a>
            <a href="#about-us">Nosotros</a>
            <a href="#contact-us">Contacto</a>
            <button class="suggestion-button" id="open-suggestion-btn">
                <i class="fas fa-comment-dots"></i>
                <span>Sugerencias</span>
            </button>
            <button class="login-button" id="open-login-btn-desktop">
                <i class="fas fa-user-circle"></i>
                <span>Iniciar Sesión</span>
            </button>
        </div>
        <div class="cart-btn-wrapper">
            <button class="cart-button suggestion-button-mobile" id="open-suggestion-btn-mobile">
                <i class="fas fa-comment-dots"></i>
            </button>
            <button class="cart-button login-button-mobile" id="open-login-btn-mobile">
                <i class="fas fa-user-circle"></i>
                <span>Acceso</span>
            </button>
            <button class="cart-button" id="open-cart-btn">
                <i class="fas fa-shopping-cart"></i>
                <span>Carrito</span>
                <span id="cart-count">0</span>
            </button>
        </div>
    </div>
</nav>
